*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 100%;
  margin: 0;
  background-color: #fff;
  color: #212121;
  font-size: 80%;
}

@media screen and (min-width: 35em) {
  body {
    font-size: 100%;
  }

}

/* Typography */

h1, h2 {
  font-weight: 900;
  margin-top: 1em;
  margin-bottom: 0.3em;

}

h3 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0em;
  max-width: 650px;
}

ul li {
  line-height: 1.8;
  max-width: 610px;
}


.portrait {
  width: 70px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}



/* Utilities */

img {
  max-width: 100%;
}





@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}